
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
</head>

<body>
    
    <table class="diff" id="difflib_chg_to2__top"
           cellspacing="0" cellpadding="0" rules="groups" >
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <thead><tr><th class="diff_next"><br /></th><th colspan="2" class="diff_header">BEFORE THE QUERY WAS EXECUTED</th><th class="diff_next"><br /></th><th colspan="2" class="diff_header">AFTER THE QUERY WAS EXECUTED</th></tr></thead>
        <tbody>
            <tr><td class="diff_next"><a href="#difflib_chg_to2__top">t</a></td><td class="diff_header" id="from2_1">1</td><td nowrap="nowrap">+----------------------+-------------+------------+--------------+---------------+</td><td class="diff_next"><a href="#difflib_chg_to2__top">t</a></td><td class="diff_header" id="to2_1">1</td><td nowrap="nowrap">+----------------------+-------------+------------+--------------+---------------+</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_2">2</td><td nowrap="nowrap">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email_id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;first_name&nbsp;|&nbsp;last_name&nbsp;&nbsp;|&nbsp;phone_number&nbsp;|&nbsp;guardian_name&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_2">2</td><td nowrap="nowrap">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email_id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;first_name&nbsp;|&nbsp;last_name&nbsp;&nbsp;|&nbsp;phone_number&nbsp;|&nbsp;guardian_name&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_3">3</td><td nowrap="nowrap">+----------------------+-------------+------------+--------------+---------------+</td><td class="diff_next"></td><td class="diff_header" id="to2_3">3</td><td nowrap="nowrap">+----------------------+-------------+------------+--------------+---------------+</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_4">4</td><td nowrap="nowrap">|&nbsp;studentA@iitgn.ac.in&nbsp;|&nbsp;Stu_First_A&nbsp;|&nbsp;Stu_Last_A&nbsp;|&nbsp;&nbsp;9876543220&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_A&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_4">4</td><td nowrap="nowrap">|&nbsp;studentA@iitgn.ac.in&nbsp;|&nbsp;Stu_First_A&nbsp;|&nbsp;Stu_Last_A&nbsp;|&nbsp;&nbsp;9876543220&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_A&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_5">5</td><td nowrap="nowrap">|&nbsp;studentB@iitgn.ac.in&nbsp;|&nbsp;Stu_First_B&nbsp;|&nbsp;Stu_Last_B&nbsp;|&nbsp;&nbsp;8765432119&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_B&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_5">5</td><td nowrap="nowrap">|&nbsp;studentB@iitgn.ac.in&nbsp;|&nbsp;Stu_First_B&nbsp;|&nbsp;Stu_Last_B&nbsp;|&nbsp;&nbsp;8765432119&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_B&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_6">6</td><td nowrap="nowrap">|&nbsp;studentC@iitgn.ac.in&nbsp;|&nbsp;Stu_First_C&nbsp;|&nbsp;Stu_Last_C&nbsp;|&nbsp;&nbsp;7654321108&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_C&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_6">6</td><td nowrap="nowrap">|&nbsp;studentC@iitgn.ac.in&nbsp;|&nbsp;Stu_First_C&nbsp;|&nbsp;Stu_Last_C&nbsp;|&nbsp;&nbsp;7654321108&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_C&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_7">7</td><td nowrap="nowrap">|&nbsp;studentD@iitgn.ac.in&nbsp;|&nbsp;Stu_First_D&nbsp;|&nbsp;Stu_Last_D&nbsp;|&nbsp;&nbsp;6543210997&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_D&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_7">7</td><td nowrap="nowrap">|&nbsp;studentD@iitgn.ac.in&nbsp;|&nbsp;Stu_First_D&nbsp;|&nbsp;Stu_Last_D&nbsp;|&nbsp;&nbsp;6543210997&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_D&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_8">8</td><td nowrap="nowrap">|&nbsp;studentE@iitgn.ac.in&nbsp;|&nbsp;Stu_First_E&nbsp;|&nbsp;Stu_Last_E&nbsp;|&nbsp;&nbsp;5432109886&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_E&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_8">8</td><td nowrap="nowrap">|&nbsp;studentE@iitgn.ac.in&nbsp;|&nbsp;Stu_First_E&nbsp;|&nbsp;Stu_Last_E&nbsp;|&nbsp;&nbsp;5432109886&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_E&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_9">9</td><td nowrap="nowrap">|&nbsp;studentF@iitgn.ac.in&nbsp;|&nbsp;Stu_First_F&nbsp;|&nbsp;Stu_Last_F&nbsp;|&nbsp;&nbsp;4321098775&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_F&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_9">9</td><td nowrap="nowrap">|&nbsp;studentF@iitgn.ac.in&nbsp;|&nbsp;Stu_First_F&nbsp;|&nbsp;Stu_Last_F&nbsp;|&nbsp;&nbsp;4321098775&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_F&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_10">10</td><td nowrap="nowrap">|&nbsp;studentG@iitgn.ac.in&nbsp;|&nbsp;Stu_First_G&nbsp;|&nbsp;Stu_Last_G&nbsp;|&nbsp;&nbsp;3210987664&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_G&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_10">10</td><td nowrap="nowrap">|&nbsp;studentG@iitgn.ac.in&nbsp;|&nbsp;Stu_First_G&nbsp;|&nbsp;Stu_Last_G&nbsp;|&nbsp;&nbsp;3210987664&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_G&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_11">11</td><td nowrap="nowrap">|&nbsp;studentH@iitgn.ac.in&nbsp;|&nbsp;Stu_First_H&nbsp;|&nbsp;Stu_Last_H&nbsp;|&nbsp;&nbsp;2109876553&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_H&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_11">11</td><td nowrap="nowrap">|&nbsp;studentH@iitgn.ac.in&nbsp;|&nbsp;Stu_First_H&nbsp;|&nbsp;Stu_Last_H&nbsp;|&nbsp;&nbsp;2109876553&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_H&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_12">12</td><td nowrap="nowrap">|&nbsp;studentI@iitgn.ac.in&nbsp;|&nbsp;Stu_First_I&nbsp;|&nbsp;Stu_Last_I&nbsp;|&nbsp;&nbsp;1098765442&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_I&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_12">12</td><td nowrap="nowrap">|&nbsp;studentI@iitgn.ac.in&nbsp;|&nbsp;Stu_First_I&nbsp;|&nbsp;Stu_Last_I&nbsp;|&nbsp;&nbsp;1098765442&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_I&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_13">13</td><td nowrap="nowrap">|&nbsp;studentJ@iitgn.ac.in&nbsp;|&nbsp;Stu_First_J&nbsp;|&nbsp;Stu_Last_J&nbsp;|&nbsp;&nbsp;2345678910&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_J&nbsp;&nbsp;|</td><td class="diff_next"></td><td class="diff_header" id="to2_13">13</td><td nowrap="nowrap">|&nbsp;studentJ@iitgn.ac.in&nbsp;|&nbsp;Stu_First_J&nbsp;|&nbsp;Stu_Last_J&nbsp;|&nbsp;&nbsp;2345678910&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Gua_Last_J&nbsp;&nbsp;|</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_14">14</td><td nowrap="nowrap">+----------------------+-------------+------------+--------------+---------------+</td><td class="diff_next"></td><td class="diff_header" id="to2_14">14</td><td nowrap="nowrap">+----------------------+-------------+------------+--------------+---------------+</td></tr>
        </tbody>
    </table>
    <table class="diff" summary="Legends">
        <tr> <th colspan="2"> Legends </th> </tr>
        <tr> <td> <table border="" summary="Colors">
                      <tr><th> Colors </th> </tr>
                      <tr><td class="diff_add">&nbsp;Added&nbsp;</td></tr>
                      <tr><td class="diff_chg">Changed</td> </tr>
                      <tr><td class="diff_sub">Deleted</td> </tr>
                  </table></td>
             <td> <table border="" summary="Links">
                      <tr><th colspan="2"> Links </th> </tr>
                      <tr><td>(f)irst change</td> </tr>
                      <tr><td>(n)ext change</td> </tr>
                      <tr><td>(t)op</td> </tr>
                  </table></td> </tr>
    </table>
</body>

</html>