
<!DOCTYPE html>
<html class="no-js">
    <head>
        <!-- 
          html_title:    browser tab title
          reset_css:     relative path to reset css file
          pygments_css:  relative path to pygments css file
          diff_css:      relative path to diff layout css file
          page_title:    title shown at the top of the page. This should be the filename of the files being diff'd
          original_code: full html contents of original file
          modified_code: full html contents of modified file
          jquery_js:     path to jquery.min.js
          diff_js:       path to diff.js
        -->
        <meta charset="utf-8">
        <title>
            tmp\before.txt
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="static/deps/reset.css" type="text/css">
        <link rel="stylesheet" href="static/deps/diff.css" type="text/css">
        <link class="syntaxdef" rel="stylesheet" href="static/deps/codeformats/vs.css" type="text/css">
    </head>
    <body>
        <div class="" id="topbar">
          <div id="filetitle"> 
            tmp\before.txt
          </div>
          <div class="switches">
            <div class="switch">
              <input id="showoriginal" class="toggle toggle-yes-no menuoption" type="checkbox" checked>
              <label for="showoriginal" data-on="&#10004; Original" data-off="Original"></label>
            </div>
          </div>
        </div>
        <div id="maincontainer" class="page-full-width">
            <div id="leftcode" class="left-inner-shadow codebox divider-outside-bottom">
                <div class="codefiletab">
                    &#10092; Original
                </div>
                <div class="printmargin">
                    01234567890123456789012345678901234567890123456789012345678901234567890123456789
                </div>
                <div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span class="lineno_q">1</span><span class="lineno_q">2</span><span class="lineno_q">3</span><span class="lineno_q">4</span><span class="lineno_q">5</span><span class="lineno_q">6</span><span class="lineno_q">7</span><span class="lineno_q">8</span><span class="lineno_q">9</span><span class="lineno_q">10</span><span class="lineno_q">11</span></pre></div></td><td class="code"><pre>+-----------------------------+----------------------------------+-----------------------------+------------------------------------------------------------------------------------------------+
|           a.email           |            a.password            |           b.email           |                                            b.data_                                             |
+-----------------------------+----------------------------------+-----------------------------+------------------------------------------------------------------------------------------------+
|  sophia_taylor@iitgn.ac.in  | 4d4cc5ce3071ce7dbb117a1e5503a3be |  sophia_taylor@iitgn.ac.in  |  {&quot;last_name&quot;: &quot;Taylor&quot;, &quot;first_name&quot;: &quot;Sophia&quot;, &quot;driver_license_number&quot;: &quot;0123456789012345&quot;}  |
|     john_doe@iitgn.ac.in    | 6d40e095b7f43848dc76ec017592da29 |     john_doe@iitgn.ac.in    |    {&quot;last_name&quot;: &quot;Doe&quot;, &quot;first_name&quot;: &quot;John&quot;, &quot;driver_license_number&quot;: &quot;2345678901234567&quot;}     |
| olivia_anderson@iitgn.ac.in | 6fe76ed19c9386c1389512a53aaaa6c6 | olivia_anderson@iitgn.ac.in | {&quot;last_name&quot;: &quot;Anderson&quot;, &quot;first_name&quot;: &quot;Olivia&quot;, &quot;driver_license_number&quot;: &quot;9012345678901234&quot;} |
|    kumaramit@iitgn.ac.in    | f039eb446cc0bd7c5ad12b7a0e2a1dae |    kumaramit@iitgn.ac.in    |   {&quot;last_name&quot;: &quot;Kumar&quot;, &quot;first_name&quot;: &quot;Amit&quot;, &quot;driver_license_number&quot;: &quot;1234567890123456&quot;}    |
|  max_verstappen@iitgn.ac.in | f5f75389bdbeddbbd70ac31c0245e42e |  max_verstappen@iitgn.ac.in | {&quot;last_name&quot;: &quot;Verstappen&quot;, &quot;first_name&quot;: &quot;Max&quot;, &quot;driver_license_number&quot;: &quot;3456789012345678&quot;}  |
|   emily_brown@iitgn.ac.in   | f6244d2fc24ec05bedfbf7a84a42ddd4 |   emily_brown@iitgn.ac.in   |   {&quot;last_name&quot;: &quot;Brown&quot;, &quot;first_name&quot;: &quot;Emily&quot;, &quot;driver_license_number&quot;: &quot;5678901234567890&quot;}   |
|    koramassey@iitgn.ac.in   | fdec10f5e0fc93e0dadc8c53b9802623 |    koramassey@iitgn.ac.in   |   {&quot;last_name&quot;: &quot;Massey&quot;, &quot;first_name&quot;: &quot;Kora&quot;, &quot;driver_license_number&quot;: &quot;4567890123456789&quot;}   |
+-----------------------------+----------------------------------+-----------------------------+------------------------------------------------------------------------------------------------+

</pre></td></tr></table></div>

            </div>
        </div>
<script src="static/deps/jquery.min.js" type="text/javascript"></script>
<script src="static/deps/diff.js" type="text/javascript"></script>
    </body>
</html>
