<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Table</title>
</head>
<body>
    <h1>Select a Table</h1>
    <form id="selectTableForm" method="post">
        <label for="tableSelect">Choose a table:</label>
        <select id="tableSelect" name="tableName">
            {% for table_name in table_names %}
                <option value="{{ table_name[0] }}">{{ table_name[0] }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="tableName" id="selectedTable" value=""> <!-- Hidden input field to store the selected table name -->
        {% if op == 'view' %}
            <button type="submit" formaction="/view-tables" formmethod="post" onclick="setSelectedTable()">View Table</button>
        {% elif op == 'insert' %}
            <button type="submit" formaction="/insert-values" formmethod="post" onclick="setSelectedTable()">Insert Values</button>
        {% elif op == 'update' %}
            <button type="submit" formaction="/update-values" formmethod="post" onclick="setSelectedTable()">Update Values</button>
        {% elif op == 'delete' %}
            <button type="submit" formaction="/delete-values" formmethod="post" onclick="setSelectedTable()">Delete Values</button>
        {% elif op == 'rename' %}
            <button type="submit" formaction="/rename-table" formmethod="post" onclick="setSelectedTable()">Rename Tables</button>
        {% endif %}
    </form>
    
    <script>
        function setSelectedTable() {
            var selectedTable = document.getElementById("tableSelect").value;
            document.getElementById("selectedTable").value = selectedTable;
        }
    </script>    

    <!-- <script>
        // // Redirect to view-tables API when a table is selected
        document.getElementById('selectTableForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting normally
            var tableName = document.getElementById('tableSelect').value;
            window.location.href = '/view-tables?tableName=' + tableName; // Redirect to view-tables API
        });
    </script> -->


</body>
</html>